@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  --linearPrimarySecondary: linear-gradient(#f7e522, #90fa80);
  --linearPrimaryAccent: linear-gradient(#f7e522, #3ff861);
  --linearSecondaryAccent: linear-gradient(#90fa80, #3ff861);
  --radialPrimarySecondary: radial-gradient(#f7e522, #90fa80);
  --radialPrimaryAccent: radial-gradient(#f7e522, #3ff861);
  --radialSecondaryAccent: radial-gradient(#90fa80, #3ff861);
}

body {
  height: 100%;
  background-color: #fefcec;
}
